<div class="container">
  <div class="row">
    <div class="col-md-10">
      <video id="my_video_1" class="video-js vjs-default-skin" width="900px" controls preload="none" #videoElement>
        <source [src]="videoURl" />
        Your browser does not support the video tag.
      </video>
      <p-panel *ngIf="currentVideo" header="{{ currentVideo.name }}" class="mt-3">
        <p>{{ currentVideo.description }}</p>
      </p-panel>
    </div>

    <div class="col-md-2">
      <p-accordion>
        <p-accordionTab *ngFor="let module of course.modules" [header]="module.name">
          <ul class="list-unstyled">
            <li *ngFor="let video of module.videos" class="video-item" style="cursor: pointer;"
              (click)="onVideoClick(video)">
              <strong>{{ video.name }}</strong>
            </li>
          </ul>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
